.menu ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
  }
  .menu ul a {
    text-decoration: none;
    font-weight: bold;
    color: white;
  }
   .menu ul li {
    margin: 20px 10px;
    padding-bottom: 10px;

  }