table{
margin-top:30px;
    width: 95%;
    color:white;
   border-collapse: collapse;
   border: 2px solid rgb(26, 122, 201);
}
th{
    border:1px solid rgb(26, 122, 201);
    text-align: center;
}
td{
    text-align: center;
    border:1px solid rgb(26, 122, 201);
    padding: 5px 0px;
}
caption{
    font-size: 1.5rem;
    text-align: center;
    border: 1px solid rgb(26, 122, 201);
}
.btn:hover {
    border:1px solid  rgb(255, 255, 255);
    box-shadow: 0 0 10px 5px rgba(51, 152, 219, 0.4);
}
.btn {
    padding: 8px 30px;
    color:rgb(26, 122, 201);
    background: transparent;
    border:1px solid  rgba(255, 255, 255, 0.2);
    font-size: 16px;
    border-radius: 8px;
    overflow: hidden;
    margin: 12px 0;
}

input {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    border-bottom:1px solid  rgb(255, 255, 255);
    font-size: 14px;
    padding: 7px 0px 7px 0px;
    width: 100%;
    margin: 12px 0;

}
input::placeholder{
    color:rgba(255, 255, 255, 0.671);
}
input:focus{
    outline:none;
    border: none;
    border-bottom:1px solid rgb(26, 122, 201);

}
.updateP{
text-decoration:none;
color:rgb(26, 122, 201);


}
.updateP:hover{
 color:white;
}