<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Административная панель</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style_header.css">
    <link  type="text/css" rel="stylesheet" th:href="@{/css/style_admin_main.css}"/>
    <style>
    .menu ul li:nth-child(4){
    border-bottom: 1px solid rgb(26, 122, 201);
  }
    </style>
</head>
<body>
<div th:replace="fragments/header :: header"/>

    <main>
        <div class="parent_card">
            <div class="card">
                <a href="/admin/faculties">
                    <h2>Факультеты</h2>
                </a>
            </div>
            <div class="card">
                <a href="/admin/departments">
                    <h2>Кафедры</h2>
                </a>
            </div>
            <div class="card">
                <a href="/admin/specialities">
                    <h2>Специальности</h2>
                </a>
            </div>
            <div class="card">
                <a href="/admin/groups">
                    <h2>Группы</h2>
                </a>
            </div>
            <div class="card">
                <a href="https://vk.com/">
                    <h2>Студенты</h2>
                </a>
            </div>
            <div class="card">
                <a href="https://vk.com/">
                    <h2>Преподаватели</h2>
                </a>
            </div>
            <div class="card">
                <a href="https://vk.com/">
                    <h2>Электронная библиотека</h2>
                </a>
            </div>
        </div>

    </main>





</body>
</html>