<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кафедры</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style_faculties.css">
</head>
<body>
<div class="container">
    <header> </header>

    <main>

        <h1>Факульеты института</h1>

        <div class="parent_card">
            <div class="card" th:each="department : ${departments}">
                <h2 th:text="${department.getNameSh()}"></h2>
                <p th:text="${department.getNameSh()}"></p>
                <p th:text="${department.getPrimaryFaculty().getNameSh()}"></p>
                <a th:href="@{/admin/departments/{id}/edit (id=${department.getId()})}"> Редактировать</a>
                <form th:method="DELETE" th:action="@{/admin/departments/{id} (id=${department.getId()})}">
                    <input type="submit" value="Удалить">
                </form>
            </div>

        </div>

    </main>
</div>
</body>
</html>