<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редектирование факультета факультета</title>
    <link rel="stylesheet" href="/css/FormFacultyStyle.css">
</head>
<body>

<form class="login-form" th:method="PATCH" th:action="@{/admin/faculties/{id}(id=${faculty.getId()})}" th:object="${faculty}">
    <h1>Форма редактирования факультета</h1>
    <div class="form-input-material">
        <input type="text" th:field="*{nameSh}" placeholder="Введите аббревиатуру" autocomplete="off" class="form-control-material" required />
        <div th:if="${#fields.hasErrors('nameSh')}"></div>
    </div>
    <div class="form-input-material">
        <input type="text" th:field="*{nameL}" placeholder="Введите полное название" autocomplete="off" class="form-control-material" required />

    </div>
    <button type="submit" class="btn btn-primary btn-ghost">Изменить</button>
</form>




</body>
</html>