<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Изменение пользовательского пароля</title>
    <link  type="text/css" rel="stylesheet" th:href="@{/css/FormFacultyStyle.css}"/>
    <style>
        div>select{
 padding: 5px 50px;
    color:rgb(26, 122, 201);
    background: transparent;
    border:1px solid  rgba(255, 255, 255, 0.2);
    font-size: 16px;
    border-radius: 8px;
    overflow: hidden;
    margin: 12px 0;

}
div>select option{
background-color:#243b55;
color:rgb(26, 122, 201);
border:1px solid  rgba(255, 255, 255, 0.2);
    font-size: 16px;
    border-radius: 8px;

}

    </style>
</head>
<body>
<form class="login-form" th:method="PATCH" th:action="@{/admin/users/{id}(id=${user.getId()})}" th:object="${user}">
    <h1>Форма редактирования пользовательского пароля</h1>
    <div class="form-input-material" hidden>
        <input type="text" th:field="*{surname}" placeholder="Введите фамилию" autocomplete="off" class="form-control-material" required />
    </div>
    <div class="form-input-material" hidden>
        <input type="text" th:field="*{name}" placeholder="Введите имя" autocomplete="off" class="form-control-material" required />
    </div>
    <div class="form-input-material" hidden>
        <input type="text" th:field="*{patronymic}" placeholder="Введите отчество" autocomplete="off" class="form-control-material" required />
    </div>
    <div class="form-input-material" hidden>
        <input type="text" th:field="*{username}" placeholder="Введите логин" autocomplete="off" class="form-control-material" required />

    </div>
    <div class="form-input-material">
        <input type="password" th:field="*{password}" placeholder="Введите пароль" autocomplete="off" class="form-control-material" required />
    </div>
    <div class="form-input-material">
        <input type="password" th:field="*{passwordConfirm}" placeholder="Повторите пароль" autocomplete="off" class="form-control-material" required />
        <p th:text="${passwordError}"></p>
    </div>
    <div hidden>
        <select th:field="*{roles}">

            <option th:each="role : ${roles}"
                    th:value="${role.getId()}"
                    th:text="${role.getName()}"/>
        </select>
    </div>

    <input class="btn btn-primary btn-ghost" type="submit" value="Изменить">

</form>
</body>
</html>