<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создание новой специальности</title>
    <link rel="stylesheet" href="/css/FormFacultyStyle.css">
    <link rel="stylesheet" href="/css/style_header.css">
    <style>
        div>select{
 padding: 5px 50px;
    color:rgb(26, 122, 201);
    background: transparent;
    border:1px solid  rgba(255, 255, 255, 0.2);
    font-size: 16px;
    border-radius: 8px;
    overflow: hidden;
    margin: 12px 0;

}
div>select option{
background-color:#243b55;
color:rgb(26, 122, 201);
border:1px solid  rgba(255, 255, 255, 0.2);
    font-size: 16px;
    border-radius: 8px;

}
   .menu ul li:nth-child(4){
    border-bottom: 1px solid rgb(26, 122, 201);
  }
    </style>
</head>
<body>


<div th:replace="fragments/header :: header"/>


<main>
<form class="login-form" th:method="POST" th:action="@{/admin/specialities}" th:object="${speciality}">
    <h1>Форма создания специальности</h1>
    <div class="form-input-material">
        <input type="text" th:field="*{nameSh}" placeholder="Введите аббревиатуру" autocomplete="off" class="form-control-material" required />
    </div>
    <div class="form-input-material">
        <input type="text" th:field="*{nameL}" placeholder="Введите полное название" autocomplete="off" class="form-control-material" required />
    </div>
    <div>
        <select th:field="*{primaryDepartment}">

            <option th:each="department : ${departments}"
                    th:value="${department.getId()}"
                    th:text="${department.getNameSh()}"/>
        </select>
    </div>

    <input class="btn btn-primary btn-ghost" type="submit" value="Создать">
</form>
</main>
</body>
</html>