<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Успеваемость</title>
    <link rel="stylesheet" href="/css/style_progress.css">
    <link rel="stylesheet" href="/css/style_header.css">
    <style>
    .menu ul li:nth-child(3){
    border-bottom: 1px solid rgb(26, 122, 201);
  }
    </style>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<main>
<h1>Успеваемость</h1>
<form th:method="GET" th:action="@{/progress/result}">
    <input type="text" placeholder="Номер зачетной книги" name="numRBook">
    <button class="btn" type="submit">Посмотреть успеваемость</button>
</form>

<div th:if="${journals != null}" th:each="journal : ${journals}">

    <table>
        <caption th:text="${journal.getSubject()}"></caption>
        <tr>
           <th th:if="${journal.getLab().length != 0}"
                th:each="i : ${#numbers.sequence(1, journal.getLab().length)}"
                th:text="'Лаб-' + ${i}"></th>
            <th th:if="${journal.getTest().length != 0}"
                th:each="i : ${#numbers.sequence(1, journal.getTest().length)}"
                th:text="'Тест-' + ${i}"></th>
            <th th:if="${journal.getCourseWork().length != 0}"
                th:each="i : ${#numbers.sequence(1, journal.getCourseWork().length)}"
                th:text="'Курсач-' + ${i}"></th>
        </tr>
        <tr>
            <td th:if="${journal.getLab().length != 0}"
                th:each="i : ${#numbers.sequence(1, journal.getLab().length)}"
                th:text="${journal.getLab()[i-1]}">0</td>
            <td th:if="${journal.getTest().length != 0}"
                th:each="i : ${#numbers.sequence(1, journal.getTest().length)}"
                th:text="${journal.getTest[i-1]}">0</td>
            <td th:if="${journal.getCourseWork().length != 0}"
                th:each="i : ${#numbers.sequence(1, journal.getCourseWork().length)}"
                th:text="${journal.getCourseWork()[i-1]}">0</td>

        </tr>

    </table>
</div>

</main>



</body>
</html>