<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Специальности</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style_header.css">
    <link  type="text/css" rel="stylesheet" th:href="@{/css/style_faculties.css}"/>
    <style>
    .menu ul li:nth-child(4){
    border-bottom: 1px solid rgb(26, 122, 201);
  }
    </style>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container">


    <main>

        <h1>Специальности института</h1>

        <div class="parent_card">
            <div class="card" th:each="speciality : ${specialities}">
                <h2 th:text="${speciality.getNameSh()}"></h2>
                <p th:text="${speciality.getNameL()}"></p>
                <p th:text="${speciality.getPrimaryDepartment().getNameSh()}"></p>
                <div class="edit_block">
                    <a class="edit_faculty" th:href="@{/admin/specialities/{id}/edit (id=${speciality.getId()})}"> Редактировать</a>
                    <form  class="form_delete" th:method="DELETE" th:action="@{/admin/specialities/{id} (id=${speciality.getId()})}">
                        <input type="submit" value="Удалить">
                    </form>
                </div>
            </div>

        </div>

    </main>
    <a href="/admin/specialities/new" class="add_but">Добавить специальность</a>
</div>
</body>
</html>